@import url(https://fonts.google.com/specimen/Roboto);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

header{
    width: 100%;
    overflow: hidden;
    background-color: #15006F;
    margin-bottom: 0px;
}

.centrar{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
}

header .logo{
    color: #F3ECFF;
    font-size: 15px;
    line-height: 50px;
    float: left;
    font-weight: bold;
}

header nav{
    float: right;
    line-height: 50px;
}

header nav a{
    display: inline-block;
    color: #F3ECFF;
    text-decoration: none;
    padding: 0px 10px;
}

header nav a:hover{
    background: #00BBCC;
    border-radius: 5px;
    transition: 500ms;
}

@media screen and (max-width: 700px){
    header .logo, header nav{
        width: 100%;
        text-align: center;
    }
}

img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

